*{
  box-sizing: border-box;
}


body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
}

.container {
  margin: 0px 130px 198px 130px;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  color: #3730A3;
  margin-top: 70px;
}

.brand-title{
  width: 62px;
  height: 62px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 31px;
  color: #7B61FF;
  text-align: center;
  padding: 18px;
  background: #EEEBFF;
  transform: rotate(30deg);
}

.nav-menu{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar a{
  text-decoration: none;
  color: #3730A3;
  padding: 12px 40px 12px 50px;
  display: block;
 }

 .navbar-links{
   transition: 0.7s ease;
 }

.navbar-links a:hover{
  border: 1px solid blue ;
  color: blue;
  text-align: center;
  padding: 12px 40px 12px 50px;
  margin-bottom: 0;
}

/* TOGGLE STYLE */
.toggle-button{
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}


.navbar-links .active{
  display: flex;
}

.row{
  width: 100%;
  display: flex;
  /* margin: 0px 130px 0px 130px; */
}


.info-content{
  width: 100%;
  height: 484px;
  margin-right: 106px;
  margin-right: 80px;
  margin-bottom: 150px;
  display: flex;
}



.info-content h3{
  width: 145px;
  height: 28px;
  margin: 0px 365px 40px 112px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4338CA;
}

.infore-name{
  width: 41.66%;
}

.info-name:before{
  content: "";
  display: block;
  width: 102px;
  height: 1px;
  background: #3730A3;
  left: 130px;
  right: 10px;
  margin: 14px 0;
  /* top: 50px; */
  position: absolute;
}


.info-content h1{
  width: 596px;
  height: 144px;
  font-weight: 700;
  font-size: 65px;
  line-height: 65px;
  color: #1F2937;
}  



.info-content p{
  width: 553px;
  height: 84px;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 28px;
  color: #6B7280;
  margin-right: 69px;
} 

.btn{
left: 130px;
display: flex;
flex-direction: row;
margin: 20px 0px;
}

.btn a{
  text-decoration: none;
}

#hire{
  background: #3730A3;
  color:#FFFFFF;
  padding: 12px 32px 12px 32px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  gap: 10px;
  text-align: center;
}

#more{
  background: #FFFFFF;
  color: #3730A3;
  border: 1px solid #3730A3;
  border-radius: 6px;
  margin-left: 20px;
  padding: 12px 32px 12px 32px;
  font-size: 18px;
  line-height: 18px;
  gap: 10px;
  text-align: center;
}


hr {
  height: 0px;
  border: 1px solid #E5E7EB;
  margin-right: 80px;
}

 .info-img{
  width: 58.33%;
  height: 525px;
  border-radius: 6px; 
}

#job{
  font-size: smaller;
}


.product-row{
  width: 100%;
}

.product-row h3{
  width: 1039px;
  height: 144px;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 71px;
  padding-right: 70px;
  color: #1F2937;
  letter-spacing: 0.8px;
  margin-bottom: 150px;
}
 
span{
  color: #4338CA;
}

.product{
  width: 100%;
  display: flex;
}

.product a{
  text-decoration: none;
}

.product-img{
  width: 50%;
  height: 622px;
}

.col-2{
  height: 532px;
  margin: 68px;
  text-align: start;
}

.product-content{
  width: 25%;
  margin-left: 30px;
}

.product-other{
  width: 25%;
  margin-left: 30px;
}

.col-2 h4{
  margin-bottom: 20px;
}

.col-2 p{
  font-weight: 400;
  font-size: 12px;
  list-style: 16px;
  color: #6B7280;
}


.brand-logos {
  width: 100%;
}


.content{
  width: 100%;
  display: flex;
  margin-bottom: 500px;
}


.feed h3{
  width: 1039px;
  height: 96px;
  margin: 150px 70px 150px 71px;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #1F2937;
  letter-spacing: 1px;
}

.content-img img{
  width: 100%;
}

#img1{
  width: 619px;
  height: 464px;
  float: left;
  margin-bottom: 30px;
}

#img2{
  width: 536px;
  height: 900px;
  float: right;
  margin-bottom: 30px;
}

#img3{
  width: 619px;
  height: 406px;
  margin-top: 30px;
}

#img4{
  width: 1186px;
  height: 400px;
  margin-bottom: 150px;
}

.services{
  height: 320px;
  display: flex;
  margin: 0 96px 0px 95px;
}



.services i{
  width: 140px;
  height: 140px;
  color: #7B61Ff;
  border-radius: 6px;
  background: #EEF2FF;
  text-align: center;
}

.services .fa{
  font-size: 20px;
  padding:50px;
  margin: 0px 110px 0px 111px;
  text-align: center;
}

.services h4{
  width: 264px;
  height: 36px;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 40px 48px;
  color: #374151;
}

.services p{
  width: 361px;
  height: 84px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9CA3AF;
  text-align: center;
  margin-right: 83px;
  text-align: center;
  letter-spacing: 0px;
}

.company h2{
  color: #1F2937;
  font-weight: 600px;
  font-size: 48px;
  line-height: 48px;
  margin: 0px 628px 100px 628px;
  text-align: center;
}

.company{
  width: 100%;
  height: 544px;
  margin: 150px 151px 0px 102px;  
  color: #6B7280;
}


.group-title h3{
  width: 33.33%;
  height: 24px;
  margin-bottom: 40px;
}

#first-title{
  margin-right: 450px;
}

#second-title{
  margin-right: 455px;
}

#third-title{
  margin-right: 231px;
}

.company hr{
  height: 0px;
  color: #D1D5DB;
  display: none;
  padding: 40px 0px;
}

#first-career{
  margin-right: 380px;
  padding-bottom: 40px;
} 
.sub-career span{
  color: #1F2937;
}

#second-career{
  padding-right: 330px;
  margin-right: 50px;
}


.footer {
  margin-top: 300px;
  width: 100%;
  height: auto;
}


@media (max-width: 960px) {
  body{
   max-width: 100% !important;
   margin: 0 20px;
  }

  .toggle-button{
    display: block;
    /* width: 100%; */
    margin-right: 30px;
  }

  .toggle-button.active .bar:nth-child(2){
    opacity: 0;
  }

  .toggle-button.active .bar:nth-child(1){
    transform: translateX(25px) rotate(10deg);
  } 

  .toggle-button.active .bar:nth-child(3){
    transform: translateX(-25px) rotate(-10deg);
  }

  .nav-menu{
    position: absolute;
    left: -100%;
    top: 112px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  .container{
    min-width: 100%;
    margin: 0px 0px 50px 0px;
   }
  
   .row{
    display: block;
  }

  .info-content{
    display: block;
    margin-bottom: 700px;
  }
  
  .infore-name{
    width: 100%;
  }

  
.info-name:before{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #3730A3;
  left: 75px;
  right: 5px;
  margin: 14px 0;
  position: absolute;
}


.info-content h1{
  width: fit-content;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 0;
}  

.info-content p{
  width: fit-content;
}

.info-img{
  width: 100%;
}

.product-row h3{
  width: fit-content;
  font-size: 30px;
  line-height: 30px;
}
   

.product-content{
  width: 50%;
  margin: 0 15px 0 0;
}

.product-other{
  width: 50%;
  margin: 0 0 0 15px;
}

.brand-logos img {
  width: 100%;
}

.feed h3{
  width: fit-content;
  font-size: 30px;
  line-height: 30px;
}

content-img{
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.content-img img{
  width: 100%;
}


#img1{
  width: 100%;
}

#img2{
  width: 100%;
  margin-bottom: 0px;
}

#img3{
  width: 100%;
  float: left;
}

#img4{
  width: 100%;
} 
#img4 img{
  height: 400px;
}

.services{
  width: 100%;
  display: block;
  margin-bottom: 900px;
}

.company{
  width: fit-content;
  margin-bottom: 700px;
}

.company h2{
  width: fit-content;
  margin: 0;

}

.footer img{
  width: 100%;
}
}